################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/AuditoriumMS/.vs/AuditoriumMS/v16
/AuditoriumMS/bin/Debug
/AuditoriumMS/obj
